@media all and (min-width: 375px) and (max-width: 667px) {
  .body {
    background-color: tomato;
  }
  .header-logo img {
    width: 100px;
    margin-left: 10px;
  }
  .nav-list {
    flex-basis: 30%;
  }
  .updates-title {
    color: white;
    position: absolute;
    font-size: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -25%);
  }
  .updates-title {
    transform: translate(-10%, -10%);
  }
}
