@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i|Montserrat:700");
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0px;
  background: #0162fd;
  font-family: "Roboto", monospace;
}
/* #393e46 */
header {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px auto;
}
.header-logo img {
  width: 150px;
  margin-left: 300px;
}
.nav-list {
  flex-basis: 40%;
}
.nav-list ul {
  display: flex;
  align-items: center;
  border-left: 1px solid whitesmoke;
}
.nav-list-item {
  margin-top: 50px;
  list-style-type: none;
  margin: 25px;
}
.nav-list-item a {
  color: #fff;
  font-weight: 550;
  text-decoration: none;
  font-size: 25px;
}
.nav-list-item .one:hover {
  transition: all 0.3s ease-in;
  padding: 9px 15px 9px 10px;
  border-radius: 4px;
  background: white;
  color: purple;
}
.nav-list-item .two:hover {
  transition: all 0.3s ease-in;
  padding: 9px 15px 9px 10px;
  border-radius: 4px;
  background: white;
  color: rgb(2, 173, 10);
}
.nav-list-item .three:hover {
  transition: all 0.3s ease-in;
  padding: 9px 15px 9px 10px;
  border-radius: 4px;
  background: white;
  color: rgb(238, 225, 45);
}
.header-logo img:hover {
  cursor: pointer;
}

/*
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 8rem;
  padding: 0 1rem 5rem;
}
*/

/* HEADER */
.updates-title {
  color: white;
  position: absolute;
  font-size: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-image {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
/* MAIN IMAGE PLACEHOLDER */

.section-introduction {
  max-width: 100%;
  height: 100vh;
  padding: 100px 0px;
  margin-left: 20%;
  min-height: 100vh;
  perspective: 900px;
  perspective-origin: 50% 50vh;
  color: white;
}
.section-introduction-title {
  display: block;
  font-size: 4rem;
  font-weight: 700;
  color: wheat;
}
/* MAIN INTRO */
