#syncButton {
  border-radius: 15px;
  background-color: #ffffff;
  font-weight: 550;
  color: #000000;
  padding: 10px 18px;
  box-shadow: none;
}
#syncButton:hover {
  cursor: pointer;
  background-color: #322e2e;
  color: #ffffff;
  transition: all 0.3s ease-in;
}
#outputAudio {
  border-radius: 1px black solid;
}

/* Option 1: Target all file inputs */
input[type="file"] {
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Option 2: Target file inputs with specific IDs */
/*
#file1,
#file2 {
  background-color: #f0f0f0;
  color: #333;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}
*/
/* Option 3: Target file inputs that accept audio files */
input[type="file"][accept="audio/*"] {
  border: 1px solid #202020;
  border-radius: 10px;
}

/* Option 4: Combine selectors for more specificity */
input[type="file"]#file1,
input[type="file"]#file2 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Option 5: Use adjacent sibling combinator */
#file1 + input[type="file"] {
  margin-top: 20px;
}

/* New styles for the audio element */
#outputAudio {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden; /* This ensures the content doesn't spill outside the rounded corners */
  background-color: #f0f0f0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

/* Additional styles to try and influence the controls */
#outputAudio::-webkit-media-controls-panel {
  background-color: #f0f0f0;
}

#outputAudio::-webkit-media-controls-play-button {
  border-radius: 50%;
}

#outputAudio::-webkit-media-controls-current-time-display,
#outputAudio::-webkit-media-controls-time-remaining-display {
  color: #000000;
}
