@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", sans-serif;
}
nav {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 90px;
  margin-left: 235px;
  margin-right: 160px;
  width: 1250px;
}
.nav-logo {
  width: 440px;
}
.nav-logo img {
  width: 100%;
}
.nav-list {
  display: flex;
}
.nav-list-item {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0px 10px;
  border-right: 1px solid grey;
}
.nav-list-item > .nav-list-item-up {
  text-decoration: none;
  color: grey;
  margin-right: 20px;
}
.button-fb > .nav-list-item-down > i {
  margin-top: 15px;
  font-size: 20px;
}
.nav-list-item > .nav-list-item-down {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding-top: 10px;
  margin-right: 20px;
  margin-top: 6px;
}
.nav-list-item:nth-last-child(2) {
  margin-right: 50px;
}
.btn {
  padding: 11px 25px;
  background: #ffd000;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  white-space: unset;
}
/* SECOND HEADER */
.header-section {
  background: #33393f;
  display: flex;
  color: white;
  align-items: center;
  text-transform: none;
  padding: 10px 0px;
}
.header-section-titles {
  display: flex;
  justify-content: space-between;
  margin-left: 322px;
}
.search-icon {
  margin-left: 490px;
  color: grey;
}
.header-section-title {
  margin-right: 30px;
  font-size: 15px;
}
.header-section-title:nth-child(1) {
  color: #ffa91d;
}
/* BOXES */

.tiles {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: -2.5em 0 0 -2.5em;
}

.tiles article {
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: relative;
  width: calc(33.33333% - 2.5em);
  margin: 2.5em 0 0 2.5em;
}

.tiles article > .image {
  transition: transform 0.5s ease;
  position: relative;
  display: block;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.tiles article > .image img {
  display: block;
  width: 100%;
}

.tiles article > .image:before {
  pointer-events: none;
  transition: background-color 0.5s ease, opacity 0.5s ease;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1;
  opacity: 0.8;
}

.tiles article > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease, transform 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
  border-radius: 4px;
  border-bottom: 0;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  z-index: 3;
}

.tiles article > a > :last-child {
  margin: 0;
}

.tiles article > a:hover {
  color: #ffffff !important;
}

.tiles article > a h2 {
  margin: 0;
}

.tiles article > a .content {
  transition: max-height 0.5s ease, opacity 0.5s ease;
  width: 100%;
  max-height: 0;
  line-height: 1.5;
  margin-top: 0.35em;
  opacity: 0;
}

.tiles article > a .content > :last-child {
  margin-bottom: 0;
}
.tiles article.style1 > .image:before {
  background-color: #f2849e;
}

.tiles article.style2 > .image:before {
  background-color: #7ecaf6;
}

.tiles article.style3 > .image:before {
  background-color: #7bd0c1;
}
/* STATS INFO */
.stats {
  display: inline-flex;
  align-items: center;
  padding-left: 100px;
  padding-right: 200px;
  padding-top: 50px;
  margin-right: 100px;
}
.article-info-text-paragraph {
  justify-content: center;
  padding-right: 150px;
}
/* MAIN */
.project-cover {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}
.project-cover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.project-cover img {
  width: 100%;
  height: 100%;
}
.project-cover-text p {
  font-family: "Montserat", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: rgb(255, 217, 5);
}
.project-cover-title {
  font-family: "Montserat", sans-serif;
  font-size: 70px;
  font-weight: bold;
  line-height: 0;
  border-right: 3px solid yellow;
}
/* MAIN 2 */
.capital-content {
  margin: 60px 250px;
  display: flex;
}
.capital-content-text {
  margin-left: 35px;
}
.capital-content-text p {
  font-family: "Open Sans", sans-serif;
}
.capital-content-text-subtitle,
p {
  color: grey;
}
.btn-2 {
  background: #ffa91d;
  color: white;
  padding: 7px 20px;
  border: none;
  font-size: 15px;
  border-radius: 2px;
  font-weight: bold;
}
/* FOOTER */
.info {
  display: flex;
  padding: 100px 300px;
  background: black;
  color: white;
}
.info-title {
  border-left: 3px solid #ffb600;
  padding-left: 13px;
}
.icons i {
  margin: 4px 15px;
}
/* FOOTER 2 */
.buttons {
  display: inline-flex;
  align-items: center;
  font-size: 23px;
}
.buttons .button-fb:hover .a {
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  color: rgb(0, 119, 255);
  text-decoration: none;
}
.button-ig .a-tag {
  text-decoration: none;
}
.buttons .button-ig:hover {
  cursor: pointer;
  color: rgb(189, 2, 206);
}
.info-content-one {
  margin-right: 150px;
}
.general {
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
  background: #ffb600;
}
.general p {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: black;
}
.general-other {
  display: flex;
  align-items: center;
}
.general-other p {
  margin: 10px;
}
.info-subtitle {
  border-bottom: 1px solid grey;
}
